{% extends 'nav.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <title>finish</title>
  <style>

  </style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<br>
<br>

<div class="w3-container">



  <div class="w3-card-4" style="width:100%;text-align:center">
    <header class="w3-container w3-green">
      <h1>success!</h1>
    </header>

    <div class="w3-container">
      <p>Your Application has been accepted.</p>
       <div class="container signin">
    <p>return back to :<a href="http://127.0.0.1:8000">Home page</a>.</p>
  </div>
    </div>
{% endblock %}